body {
  margin: 0px;
  padding: 0px;
}
.header {
  box-shadow: 1px 1px 4px 3px;
  background-color: white;
  top: 0px;
  padding: 10px;
  margin-bottom: 5px;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.nav-List {
  display: flex;
  margin-right: 20px;
}

.nav-List > li {
  list-style: none;
}

.nav-List > li > a {
  text-decoration: none;
}
.list {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 20px;
  color: white;
}
.nav-button {
  padding: 1rem;
  width: 8.5rem;
  background-color: teal;
  border-radius: 5px;
  color: white;
}

.nav-button:hover {
  background-color: azure;
  color: black;
}

.menu {
  display: none;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.div-text {
  width: 100%;
  height: 100vh;
  background-color: #fcf4f2;
}
.div-image {
  background-color: brown;
  width: 100%;
  height: 100vh;
  background: url(../images/hero-image1.webp) no-repeat center/cover;
}
.logo {
  width: 150px;
  height: 150px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.ads {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.ads > p {
  text-decoration: underline;
}
.menu > button {
  display: block;
  padding: 0.5rem;
  background-color: teal;
  border-radius: 5px;
  margin-top: 7px;
}
.hero-footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.2rem;
}
.content2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.div-image2 {
  width: 100%;
  height: 100vh;
  background: url(../images/Group1.webp) no-repeat center;
  background-size: 70%;
}
.text2 {
  height: 100vh;
  padding-top: 100px;
  width: 100%;
}
.text2 a {
  text-decoration: none;
}
.content3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.div-text3 {
  height: 100vh;
  width: 100%;
  padding: 30px;
}
.div-image3 {
  background-color: brown;
  width: 100%;
  height: 100vh;
  background: url(../images/about-img.webp) no-repeat center;
  background-size: 75%;
}
.div-text3 a {
  text-decoration: none;
  color: orange;
}
.read-button {
  padding: 1rem;
  width: 8.5rem;
  background-color: teal;
  border-radius: 5px;
  color: white;
}
.read {
  margin: 10px;
}
.form {
  display: flex;
}
#id_username {
  display: block;
  padding: 15px;
  border-radius: 5px;
  width: 70%;
}
#id_password {
  display: block;
  padding: 15px;
  border-radius: 5px;
  width: 70%;
}

#id_username,
#id_password,
.pro {
  border: 1px solid rgba(78, 76, 76, 0.596);
}
.label {
  width: 100%;
  margin-left: 30rem;
  margin-top: 100px;
  padding-top: 100px;
}
.instruct {
  background-color: rgb(225, 250, 247);
  margin-left: 40px;
  padding-right: 50px;
  width: 100%;
  height: 100vh;
}
.tit {
  margin-left: 40px;
}

.instruct > p {
  color: green;
  margin-left: 50px;
}
.instruct > ol > li {
  margin-top: 30px;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.links > p {
  margin-right: 20px;
}
.links > a {
  text-decoration: none;
  color: green;
}

.pro {
  padding: 1rem;
  width: 80%;
  background-color: #288855;
  border-radius: 5px;
  color: white;
}

/* content4 */

.content4 {
  width: 100%;
  background-color: rgba(101, 199, 212, 0.349);
  padding-bottom: 25px;
}
.content4-head {
  text-align: center;
  font-size: x-large;
}

.content4-body {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.content4-body-1 {
  width: 100%;
  height: 90vh;
  background-color: white;
  box-shadow: 1px 3px 4px rgba(37, 37, 37, 0.336);
  border-radius: 10px;
}

.body-1-img {
  width: 100%;
  height: 60%;
}

.body-1-img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.body-1-text {
  width: 90%;
  margin: auto;
}

.body-1-btn {
  width: 70%;
  margin: auto;
}

.body-1-btn > .apply {
  width: 30%;
  padding: 15px 30px;
  background-color: green;
  color: white;
  margin: 15px;
  border: none;
}

.body-1-btn > .learn {
  width: 30%;
  padding: 15px 30px;
  background-color: rgba(56, 134, 111, 0.534);
  color: rgb(18, 112, 46);
  margin: 15px;
  border: none;
}

/* body 2 */
.content4-body-2 {
  width: 100%;
  height: 90vh;
  background-color: white;
  box-shadow: 1px 3px 4px rgba(37, 37, 37, 0.336);
  border-radius: 10px;
}
.body-2-img {
  width: 100%;
  height: 60%;
}
.body-2-img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.body-2-text {
  width: 90%;
  margin: auto;
}

.body-2-btn {
  width: 70%;
  margin: auto;
}

.body-2-btn > .apply {
  width: 30%;
  padding: 15px 30px;
  background-color: green;
  color: white;
  margin: 15px;
  border: none;
}
.body-2-btn > .learn {
  width: 30%;
  padding: 15px 30px;
  background-color: rgba(56, 134, 111, 0.534);
  color: rgb(18, 112, 46);
  margin: 15px;
  border: none;
}

/* body 5 */

.content5 {
  width: 100%;
  background-color: white;
  padding-bottom: 25px;
}
.content5-head {
  text-align: center;
  font-size: x-large;
}
.content5-bdy {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

/*  bdy 1 */
.content5-bdy-1 {
  width: 100%;
  height: 60vh;
  background-color: white;
  box-shadow: 1px 3px 4px rgba(37, 37, 37, 0.336);
  border-radius: 10px;
}
.bdy-1-img {
  width: 100%;
  height: 60%;
}
.bdy-1-img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.bdy-1-txt {
  width: 90%;
  margin: auto;
}

/* bdy 2 */

.content5-bdy-2 {
  width: 100%;
  height: 60vh;
  background-color: white;
  box-shadow: 1px 3px 4px rgba(37, 37, 37, 0.336);
  border-radius: 10px;
}
.bdy-2-img {
  width: 100%;
  height: 60%;
}
.bdy-2-img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.bdy-2-txt {
  width: 90%;
  margin: auto;
}

/* bdy 3 */
.content5-bdy-3 {
  width: 100%;
  height: 60vh;
  background-color: white;
  box-shadow: 1px 3px 4px rgba(37, 37, 37, 0.336);
  border-radius: 10px;
}
.bdy-3-img {
  width: 100%;
  height: 60%;
}
.bdy-3-img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.bdy-3-txt {
  width: 90%;
  margin: auto;
}
.news-btn {
  padding: 1.5rem;
  width: 12rem;
  text-transform: unset;
  background-color: teal;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  margin-left: 30px;
  border: 0;
}
.fot-1 {
  width: auto;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: large;
}
.fot-2 {
  width: auto;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: large;
}
.cnt-3 {
  display: flex;
  justify-content: center;
  color: white;
  gap: 30px;
}
.cnt-3 > li {
  list-style: none;
}
.cnt-3 > li > a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
.fot-3 {
  width: auto;
  height: 15vh;
  background-color: rgb(7, 87, 34);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: large;
}

/* media query */
@media screen and (max-width: 580px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: block;
    margin-top: 25px;
  }
  .nav-List {
    display: none;
  }

  .content {
    display: block;
  }
  .div-text3 {
    padding: 0;
    width: 95%;
    margin: auto;
  }
  .content2 {
    display: block;
  }
  .div-image2 {
  }
  .text2 {
  }

  .content3 {
    display: block;
  }
  .content4-body {
    display: block;
    width: 100%;
  }

  .content5-bdy {
    display: block;
  }

  .form {
    display: block;
    margin: 0px;
  }
  .label {
    margin: 0px;
  }
}
