{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock%}
    <title>NASIMS</title>
  </head>
  <body>
    {% block header %}
    <header class="header">
      <div>
        <nav class="navigation">
          <div class="menu">
            <button>DROP</button>
          </div>
          <div class="hamburger">
            <h4>
              Federal Ministry of Humanitarian Affairs <br />
              and Disaster Management
            </h4>
          </div>
          <ul class="nav-List">
            <li class="list"><a class="nav-Link" href="">Home</a></li>
            <li class="list"><a class="nav-Link" href="">About</a></li>
            <li class="list"><a class="nav-Link" href="">contact</a></li>
            <li>
              {% if request.user.is_authenticated %}
              <a class="" href="{% url 'dashboard:logout' %}"
                ><button type="button" class="nav-button">Logout</button></a
              >
              {% else %}
              <a class="" href="{% url 'dashboard:login' %}"
                ><button type="button" class="nav-button">Login</button></a
              >
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </header>
    {% endblock %}
    <!-- content -->
    {% block content %}
    <div class="content">
      <div class="div-text">
        <img class="logo" src="../static/images/nasims-logo.webp" alt="" />

        <div class="ads">
          <p>Read about</p>
          <h1>How NASIMS is impacting lives on a global level.</h1>
          The N-Power programme is a job creation and skills empowerment
          programme of the Federal Government of Nigeria...
          <p><a href="">Read More</a></p>
        </div>
      </div>
      <div class="div-image"></div>
    </div>
    <div class="hero-footer">
      <p>Read more about our respond to the covid 19 pandamic</p>
    </div>
    <div class="content2">
      <div class="div-image2"></div>

      <div class="text2">
        <h1>
          Welcome to the National Social Investment Management System (NASIMS)
        </h1>
        <a href=""
          >The Federal Ministry of Humanitarian Affairs, Disaster Management and
          Social Development</a
        >
        was established on Wednesday August 21st, 2019 by an Executive
        pronouncement by the President and Commander in Chief of the Armed
        Forces of Nigeria, H.E., Muhammadu Buhari GCFR at the inauguration of
        Ministers for the Federal Republic of Nigeria. Under My leadership as
        Minister, the Ministry will position itself in light of the prevailing
        Humanitarian situation in the country through its Vision, Mission and
        Core values to promote Human dignity and Integration of basic Humane
        benevolence and compassion in the treatment of all Nigerians
        <p>Sadiya Umar Farouq</p>
        <p>Honorable Minister</p>
      </div>
    </div>
    <div class="content3">
      <div class="div-text3">
        <a href="">About us</a>
        <h2>
          Providing efficient, effective, and <br />
          coordinated humanitarian response to Nigerians.
        </h2>
        <div>
          <p>
            The National Social Investment Program of Nigeria is a social
            welfare initiative created by the Federal government of Nigeria in
            2015 under the direction of the National Social Investment Office.
            The Program was created to ensure a more equitable distribution of
            resources to vulnerable populations, including children, youth, and
            women. Under President Muhammadu Buhari the office has created four
            programs to address poverty and help increase economic development.
          </p>
          <a class="" href=""
            ><button type="button" class="read-button">Read More</button></a
          >
        </div>
      </div>
      <div class="div-image3"></div>
    </div>

    <!-- content4 -->
    <div class="content4">
      <div class="content4-head">
        <h3>Our Programmes</h3>
        <p>
          Our programmes are specifically designed to empower, train and uplift
          millions of abandoned Nigerians in every part of the country. N-POWER
          The N-Power Program is built to address the issue of youth
          unemployment and help increase social development.
        </p>
      </div>

      <div class="content4-body">
        <div class="content4-body-1">
          <div class="body-1-img">
            <img src="../static/images/geep-hero.dac629b.webp" alt="" />
          </div>

          <div class="body-1-text">
            <h3>Government Enterprise and Empowerment Program (GEEP)</h3>
            <p>
              The Government Enterprise and Empowerment Program was established
              to provide financial support and training to businesses and
              entrepreneurs at the bottom of the financial pyramid.
            </p>
          </div>

          <div class="body-1-btn">
            <button class="apply">Apply Now</button>
            <button class="learn">Learn More</button>
          </div>
        </div>

        <div class="content4-body-2">
          <div class="body-2-img">
            <img src="../static/images/program-cct.3788daa.webp" alt="" />
          </div>

          <div class="body-2-text">
            <h3>Conditional Cash Transfer (CCT)</h3>
            <p>
              Nigeria's Conditional Cash Transfer program provides targeted cash
              transfers to the most vulnerable households with the long-term
              goal of lifting millions out of poverty.
            </p>
          </div>

          <div class="body-2-btn">
            <button class="apply">Apply Now</button>
            <button class="learn">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <!-- content 5 -->
    <div class="content5">
      <div class="content5-head">
        <h1>Latest News</h1>
        <p>Keep up with the latest updates about programmes and events</p>
      </div>

      <div class="content5-bdy">
        <div class="content5-bdy-1">
          <div class="bdy-1-img">
            <img src="../static/images/batch-c.a296291.webp" alt="" />
          </div>

          <div class="bdy-1-txt">
            <h3>N-Power Batch C</h3>
            <span>June 25, 2020</span>
            <p>
              All empower batch c applicants are expected to update their
              profile and take test for possible shortlisting...
            </p>
          </div>
        </div>

        <div class="content5-bdy-2">
          <div class="bdy-2-img">
            <img src="../static/images/call-center.1c47ad8.webp" alt="" />
          </div>

          <div class="bdy-2-txt">
            <h3>N-Power Customer Care</h3>
            <span>June 25, 2020</span>
            <p>
              All enquires and complains should be channeled through the N-Power
              customer care line. Details are as follows:
            </p>
          </div>
        </div>

        <div class="content5-bdy-3">
          <div class="bdy-3-img">
            <img src="../static/images/test-portal.cd18cfc.webp" alt="" />
          </div>

          <div class="bdy-3-txt">
            <h3>NASIMS Test Portal</h3>
            <span>June 25, 2020</span>
            <p>
              Please make sure your records are fully updated on the NASIMS
              portal before taking this test...
            </p>
          </div>
        </div>
      </div>
      <div>
        <button class="news-btn">News Page</button>
      </div>
    </div>
    <div>
      <div class="fot-1">
        <p>Be the first to know</p>
        <h3>
          Follow us on our social media platforms for all the latest updates and
          applications news
        </h3>
      </div>
      <div class="fot-2">
        <h3>Got Questions?</h3>
        <p>
          For enquiries, complaints or requests, feel free to reach out to us.
        </p>
      </div>
      <div class="fot-3">
        <ul class="cnt-3">
          <li><a href="">Apply</a></li>
          <li><a href="">About</a></li>
          <li><a href="">news</a></li>
          <li><a href="">contact</a></li>
        </ul>

        <div>
          <p>
            Copyright 2023. Federal Ministry of Humanitarian Affairs, Disaster
            Management and Social Development. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
